<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <system.web>
    <compilation targetFramework="4.0" />
<customErrors mode="Off"/>
  </system.web>
</configuration>
<!--ProjectGuid: 79b98e43-06b9-48b0-8651-8b07e98c4cec-->